.contact-container{
    display: flex;  
}

.contact-form-container{
    flex:1;
    border:1px solid red;
}
 .contact-detail-content-container h3{
     font-size: 50px;
     font-weight: 600;
     color: #FFFFFF;

 }
 .contact-detail-content-container p{
     font-size: 15px;
     font-weight: 400;
     color:#D0D0D0;
     text-align:left;

 }
 .contact-detail-content-container{
    flex:0.5;
     text-align:left;
     background-color:  #383bb4;
     border-radius:20px;
    padding-left:30px;
    padding-right:30px;
     margin-left:20px;
     margin-right:20px;
     
 }
 .contact-deat-col1-row1{
     color: #FBA229;
 }
 .contact-deat-col2-row1{
    flex:1;
     font-size: 18px;
     font-weight: 600;
     color:#FFFFFF;
 }
 .contact-deat-col2-row2{
     flex:1;
     font-size: 16px;
     font-weight: 400;
     color:#FFFFFF;
 }
 .contact-deat-col1{
    flex:0.1;
    margin: auto;
   
 }
 .contact-deat-col2{
     flex:1;
     flex-direction: column;
     display: flex;
    
 }
.contact-details-container{
    display: flex;
    flex-direction: row;
    border:1px solid red;
}